.video-title {
    font-family: Roboto, Arial, sans-serif;
    margin-top: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    
    
}
.thumbnail-1{
    width: 100%;
    
}
.video-author, .video-stats{
    color: rgb(96,96,96);
    font-size: 12px;
    
}
.video-author {
    margin-bottom: 6px;
}
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 25px;
}
.thumbnail-row {
    margin-bottom: 10px;
    position: relative;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media(max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1000px)
{
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid{
        grid-template-columns: 1fr, 1fr,1fr;
    }
}

.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
}