div {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: teal; 
    text-align: center;
    border: 2px solid black; 
    margin: 20px;
}

#static {
    position: static;
    top: 100px;
    left: 100px;
}

#relative {
    background-color: coral;
    position: relative;
    top: 100px;
    left: 100px;
}

#absolute {
    background-color: hotpink;
    position: absolute;
    top: 100px;
    left: 100px;
}

#fixed {
     background-color: burlywood;
     position: fixed;
     top: 100px;
     left: 100px;
}

