div {
    height: 100px;
    width: 100px;
    text-align: center;
    
    margin: 0 auto;
    margin-top: 10px;
    background-color: lightblue;
    transition: margin-top 2s ease-in 0.2s;
    

}

div:hover{
    margin-top: 400px;
    background-color: pink;
}

